@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white font-poppins;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00C46A, #FFD700);
  border-radius: 8px;
}
